/node_modules
/dist
/build
/logs
/data
/config
/backup
/cache
/temp
/uploads


# Ortam dosyaları
.env
.env.*

# IDE ve OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Loglar
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*